html, body {
    padding: 0;
    margin: 0;
}

body {
    background-color: #EBECF2;
}

.separator {
    padding: 8px 0  6px 0;
    height: 56px;
    display: flex;
    align-items: center;
    border-left: 1px solid #eee;
}

ul {
    background-color: #fff;
}

a {
    padding: 15px 20.5px;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
}

a.current svg {
    color: #3D3AC4;
}

.preview {
    overflow: hidden;
}

.device {
    margin: 0 auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.device-desktop {
    width: 100vw;
    height: 94.6vh;
}

.device-desktop iframe {
    width: 100%;
    height: 94.6vh;
    transition: none;
}

.device-tablet-p {
    width: 600px;
    height: 900px;
    margin-top: -25px;
    padding: 2em 1em 2em;
    background-image: url('/assets/iPad.png');
}

.device-tablet-p iframe {
    width: 540px;
    height: 785px;
    margin-left: 31px !important;
    margin-top: 58px !important;
    border-radius: 5px;
}

.device-mobile-p {
    width: 440px;
    height: 780px;
    padding: 1em 1em 3em;
    margin-top: 32px !important;
    background-image: url('/assets/iPhone.png');
}

.device-mobile-p iframe {
    width: 374px;
    height: 707px;
    margin-left: 33px !important;
    margin-top: 56px !important;
}

.preview iframe {
    margin: 0;
    border: 0;
    transform-origin: 0 0;
}

.devices {
    list-style: none;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #eee;;
}


.devices > li {
    display: inline-flex;
    align-items: center;
    line-height: 2em;
}


svg{
    color: #8685A8;
}

svg:hover{
    color: #3D3AC4;
}

.svg-desktop {
    width: 40px;
    height: 40px;
}

.svg-tablet {
    width: 33px;
    height: 33px;
}

.svg-phone {
    padding-top: 5px;
    width: 28px;
    height: 28px;
}
